.app.dark {
  --bg-color: #07073b;
  --inverted-bg-color: #fdfbfe;
  --primary-color: #089708;
  --secondary-color: #04ff04;
  --inverted-primary-color: #072c9b;
  --inverted-secondary-color: #0449e0;
}
